   a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
   }

body{
    background-color: beige;
}
   #cabecera{
    display: inline-block;
      width: 30%;
      margin: 1% 20% 0% 5%;
    }
      .blog {  
         width: 120px; height: 120px;
        } 
    #cabecera p{
        margin-top: 5px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: left;
      font-size: bold;
    }

      nav{
       display: inline-block;
       width: 40%;
       margin: 0;
       margin-right: 0;
       text-align: right;
      }
    
          .after-box {
            width: 90%;
            height: 500px;
            position: absolute;
            left: 5%;
            right: 5%;
            }

            #imgl{
                z-index: 1;
                height: 250px;
                margin-bottom: 60px;
              }
              .puente{
                width:100%;
                height: 100%;
                z-index: 1;
              }

            #margen {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.66);
                margin-top: 0px;
                height: 45px;
                transform: translateY(-110%);
                z-index: 5;
             }
            #margen a{
                font-size: 10.5pt;
                color: white;
            }
            #margen .reflection{
                display: inline-block;
                line-height: middle;
                margin: 1% 65% 0% 2%;
            }
            .button {
                background: #d93434;
                background-image: -webkit-linear-gradient(top, #d93434, #911d1d);
                background-image: -moz-linear-gradient(top, #d93434, #911d1d);
                background-image: -ms-linear-gradient(top, #d93434, #911d1d);
                background-image: -o-linear-gradient(top, #d93434, #911d1d);
                background-image: linear-gradient(to bottom, #d93434, #911d1d);
                -webkit-border-radius: 10;
                -moz-border-radius: 10;
                border-radius: 10px;
                font-family: Arial;
                color: #ffffff;
                font-size: 14px;
                padding: 10px 20px 10px 20px;
                text-decoration: none;
              }
              
              .button:hover {
                background: #ff7f7f;
                background-image: -webkit-linear-gradient(top, #ff7f7f, #c46666);
                background-image: -moz-linear-gradient(top, #ff7f7f, #c46666);
                background-image: -ms-linear-gradient(top, #ff7f7f, #c46666);
                background-image: -o-linear-gradient(top, #ff7f7f, #c46666);
                background-image: linear-gradient(to bottom, #ff7f7f, #c46666);
                text-decoration: none;
              }

#contenido{
    width: 100%;
    height: 480px;
}
 article{
     float: left;
     display: inline-blok;
     width: 75%;
     margin: 0;
     text-align: justify;
 }
   aside{
       float: right;
       display: inline-blok;
       width: 20%;
       margin: 0;
       text-align: justify;
       font-size: 11pt;
   }
    
    footer{
        width:100%;
        height: 210px;
    }
#s1{
    display: block;
    margin-right: 5px;
    width: 25%;
    float: left;
}
#s2{
    display: block;
    margin: 0;
    width: 35%;
    height: 207px;
    float: left;
}
.cuadritos{
    width: 30%;
    height: 80px;
    float: left;
    margin: 0;
}
#s3{
    display: block;
    margin: 0;
    width: 30%;
    font-size: 10pt;
    float: left;
}

ul{
    float: left;
    margin: 0;
    list-style-type: square;
}